In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
import import_ipynb
from graphing import pca_graph, lda_graph

importing Jupyter notebook from graphing.ipynb

In [2]:
names = ["class_id", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium",
"Total phenols", "Flavanoids","Nonflavanoid phenols", "Proanthocyanins",
"Color intensity", "Hue","OD280/OD315 of diluted wines", "Proline"]
wine = pd.read_csv("../Datasets/wine.csv", names = names)
contra = pd.read_csv("../Datasets/contraceptive.data")

In [3]:
contra.head()

,Wife's age,Wife's education,Husband's education,Number of children ever born,Wife's religion,Wife's now working?,Husband's occupation,Standard-of-living index,Media exposure,method used
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

In [4]:
y = contra["method used"]
X = contra[["Wife's age", "Standard-of-living index", "Number of children ever born"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [30]:
scaler = preprocessing.MaxAbsScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
knn = KNeighborsClassifier(n_neighbors=7)
tclf = DecisionTreeClassifier()
svm = SVC(kernel="poly")

In [32]:
knn.fit(X_train, y_train)
tclf.fit(X_train, y_train)
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [33]:
y_knn = knn.predict(X_test)
y_tclf = tclf.predict(X_test)
y_svm = svm.predict(X_test)

In [34]:
confusion_matrix(y_test, y_svm)

array([[65, 15, 50],
       [14, 12, 43],
       [25,  7, 64]], dtype=int64)

In [35]:
svm.score(X_test, y_test)

0.47796610169491527

In [7]:
svm = SVC(kernel="rbf")
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [8]:
svm.score(X_test, y_test)

0.49491525423728816